.counter{
  width: 250px;
  padding: 25px;
  background: #dad6d6;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.counter-display{
 text-align: center;
  font-size: 50px;
  margin-bottom: 15px;
}
.counter-btns{
  display: flex;
  justify-content: space-between;
}
button{
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(101, 114, 114);
  color: #ffffff;
}

button:hover{
  cursor: pointer;
  background-color: rgba(101, 114, 114, 0.8);
}